body{
    background-color: gray;
}
.header{
    background-color: silver;
}
.name{
display: flex;
flex-wrap: wrap;
flex-direction: initial;
align-content: center;
justify-content: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 45px;
color: black;
text-shadow: grey;
text-emphasis: shadow;
font-weight: 100px;
}
.img{
    float: right;
    width: 350px;
    height: 400px;
    flex-wrap: wrap;
    padding: 60px;
    border-radius: 200px;
}
.maindiv{
    font-size: 30px;
    padding: 60px;
    flex-wrap: wrap;
    text-shadow: grey;
    line-height: 60px;
    background-color: gray;
}
.att{
margin-left: 5px;
display: flex;
flex-wrap: wrap;
flex-direction: initial;
align-content: center;
justify-content: center;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
color: black;
text-shadow: grey;
}
.img2{
    float: left;
    width: 80%;
    height: 400px;
    padding: 40px;
    border-radius: 150px;
    flex-wrap: wrap;
}
.img3{
    float: right;
    width: 80%;
    height: 500px;
    padding: 40px;
    border-radius: 150px;
    flex-wrap: wrap;
}
.footer{
    clear: both;
    background-color: silver;
}

@media (max-width: 600px) {
    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}
